<h1>Episode <%= @episode.number %></h1>

<p>Date: <%= @episode.date %></p>
<p>Number: <%= @episode.number %></p>

<p>Guest Appearances: </p>
<ul>
  <% @guests.each do |guest| %>
    <li><%= guest.name %></li>
  <% end %>
</ul>
